body
{
	padding-top: 40px;
}
h1
{
	font-family: Manrope;
	font-size: 84px;
	font-style: normal;
	font-weight: 700;
	line-height: 115px;
	letter-spacing: 0em;
	text-align: center;
}
p
{
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}
a
{
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: center;
}
i
{
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
h3
{
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: center;
}
h2
{
	font-family: Manrope;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 82px;
	letter-spacing: 0em;
	text-align: left;
}
button
{
	border: 0px;
	outline: none !important;
}
.btn
{
	border-radius: 10px;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	padding: 19px 32px;
}
.container
{
	max-width: 1170px;
	margin: 0px auto;
	width: 100%;
}
.container-large
{
	margin: 0px 40px;
}	
.overflow-hidden
{
	overflow: hidden;
}

@media screen and (max-width: 1380px) 
{
	body
	{
		padding-top: 30px;
	}
	h1
	{
		font-size: 74px;
		line-height: 94px;
	}
	a
	{
		font-size: 16px;
	}
	h2
	{
		font-size: 54px;
		line-height: 64px;
	}
	.container
	{
		width: 960px;
	}
	.container-large
	{
		margin: 0px 30px;
	}	
}

@media screen and (max-width: 1120px) 
{
	body
	{
		padding-top: 20px;
	}
	.container
	{
		width: 720px;
	}
	.container-large
	{
		margin: 0px 20px;
	}	
	h1
	{
		font-size: 70px;
		line-height: 88px;
		width: 100% !important;
	}
	h2
	{
		font-size: 42px;
		line-height: 52px;
	}
}

@media screen and (max-width: 920px) 
{
	body
	{
		padding-top: 30px;
	}
	h1
	{
		margin-top: 60px !important;
		font-size: 52px;
		line-height: 68px;
		margin-bottom: 30px !important;
	}
	a
	{
		font-size: 14px;
	}
	h2
	{
		font-size: 38px;
		line-height: 48px;
	}
	.container
	{
		width: 620px;
	}
}

@media screen and (max-width: 725px) 
{
	i
	{
		font-size: 14px;
	}
	body
	{
		padding-top: 20px;
	}
	h1
	{
		margin-top: 60px !important;
		font-size: 42px;
		line-height: 54px;
	}
	a
	{
		font-size: 14px;
	}
	h2
	{
		font-size: 32px;
		line-height: 40px;
	}
	.container
	{
		width: 85%;
	}
}

@media screen and (max-width: 520px) 
{
	h1
	{
		margin-top: 60px !important;
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 20px !important;
	}
	body
	{
		padding-top: 10px;
	}
	.container-large
	{
		margin: 0px 10px;
	}
	h2
	{
		font-size: 28px;
		line-height: 36px;
	}
}